# Core scientific computing
numpy
scipy
pandas
ripser
persim
scikit-tda
scikit-learn
torch
torchvision
matplotlib
seaborn
ipykernel
ipywidgets
tqdm
networkx
mne
librosa
notebook
jupyterlab
jupyterlab-widgets
plotly
h5py    

